In [318]:
# Recopilación de toda la información obtenida

In [319]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# LIMPIEZA DE DATOS

En este punto, primero hay que revisar si ya se tienen los datos necesarios, para luego unirlos

In [320]:
#ub_man=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\HABITATIONAL UNITS\UH_MAN.csv")
ub_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\HABITATIONAL UNITS\UH_MUN.csv")
malls_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\MALLS\Plazas_por_alcandia.csv")
est_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\PARKINGS\municipios totales actualizado.csv")
mb_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\MB-STATIONS\MB_alcaldias.csv")
mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\PARKINGS\municipios totales.csv")

In [321]:
mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID
0     9003        9        3                Coyoacán    1
1     9007        9        7              Iztapalapa    2
2     9008        9        8  La Magdalena Contreras    3
3     9009        9        9              Milpa Alta    4
4     9010        9       10          Álvaro Obregón    5
5     9011        9       11                 Tláhuac    6
6     9012        9       12                 Tlalpan    7
7     9013        9       13              Xochimilco    8
8     9006        9        6               Iztacalco    9
9     9015        9       15              Cuauhtémoc   10
10    9017        9       17     Venustiano Carranza   11
11    9002        9        2            Azcapotzalco   12
12    9016        9       16          Miguel Hidalgo   13
13    9005        9        5       Gustavo A. Madero   14
14    9004        9        4   Cuajimalpa de Morelos   15
15    9014        9       14           Benito Juárez   16

In [322]:
ub_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  NUM_UH
0     9002        9        2            Azcapotzalco   12  1054.0
1     9003        9        3                Coyoacán    1  1481.0
2     9004        9        4   Cuajimalpa de Morelos   15     0.0
3     9005        9        5       Gustavo A. Madero   14   923.0
4     9006        9        6               Iztacalco    9   996.0
5     9007        9        7              Iztapalapa    2  4912.0
6     9008        9        8  La Magdalena Contreras    3   131.0
7     9009        9        9              Milpa Alta    4     0.0
8     9010        9       10          Álvaro Obregón    5   601.0
9     9011        9       11                 Tláhuac    6   735.0
10    9012        9       12                 Tlalpan    7   952.0
11    9013        9       13              Xochimilco    8   171.0
12    9014        9       14           Benito Juárez   16   210.0
13    9015        9       15              Cuauhtémoc   10   679.0
14    9016        9       16          Miguel Hidalgo   13   525.0
15    9017        9       17     Venustiano Carranza   11   893.0

In [323]:
malls_mun

               ALCALDÍA  NUM_MALLS
0          Azcapotzalco         45
1         Benito Juárez         73
2              Coyoacán         76
3            Cuajimalpa         26
4            Cuauhtémoc        172
5     Gustavo A. Madero         52
6             Iztacalco         22
7            Iztapalapa         95
8   Magdalena Contreras         11
9        Miguel Hidalgo         43
10           Milpa Alta          2
11              Tlahuac         13
12              Tlalpan         75
13  Venustiano Carranza         24
14           Xochimilco         19
15       Álvaro Obregón         84

In [324]:
est_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  EST_TOT
0     9002        9        2            Azcapotzalco   12       67
1     9003        9        3                Coyoacán    1      109
2     9004        9        4   Cuajimalpa de Morelos   15       36
3     9005        9        5       Gustavo A. Madero   14       98
4     9006        9        6               Iztacalco    9       49
5     9007        9        7              Iztapalapa    2      137
6     9008        9        8  La Magdalena Contreras    3       22
7     9009        9        9              Milpa Alta    4        9
8     9010        9       10          Álvaro Obregón    5      107
9     9011        9       11                 Tláhuac    6       23
10    9012        9       12                 Tlalpan    7       76
11    9013        9       13              Xochimilco    8       39
12    9014        9       14           Benito Juárez   16      287
13    9015        9       15              Cuauhtémoc   10      799
14    9016        9       16          Miguel Hidalgo   13      290
15    9017        9       17     Venustiano Carranza   11      122

In [325]:
mb_mun

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,OID,MB_Intermedia,MB_Transbordo,MB_Terminal_Transbordo,MB_Terminal,MB_tot
0,9003,9,3,Coyoacán,1,11,0,0,0,11
1,9007,9,7,Iztapalapa,2,17,0,0,1,18
2,9008,9,8,La Magdalena Contreras,3,0,0,0,0,0
3,9009,9,9,Milpa Alta,4,0,0,0,0,0
4,9010,9,10,Álvaro Obregón,5,4,0,0,1,5
5,9011,9,11,Tláhuac,6,0,0,0,0,0
6,9012,9,12,Tlalpan,7,7,0,0,1,8
7,9013,9,13,Xochimilco,8,3,0,0,1,4
8,9006,9,6,Iztacalco,9,17,2,0,0,19
9,9015,9,15,Cuauhtémoc,10,75,20,1,3,99
10,9017,9,17,Venustiano Carranza,11,17,4,1,2,24
11,9002,9,2,Azcapotzalco,12,7,0,0,1,8
12,9016,9,16,Miguel Hidalgo,13,5,0,0,2,7
13,9005,9,5,Gustavo A. Madero,14,54,12,3,4,73
14,9004,9,4,Cuajimalpa de Morelos,15,0,0,0,0,0
15,9014,9,14,Benito Juárez,16,17,5,1,1,24

Observando las bases de datos, a la base de malls_mun hay que agregarle la clave municipal, ya que será por esta clave que se unirán todos. Además de reescribir el nombre de la columna "ALCALDÍA" a "NOMGEO"

In [326]:
mun_dic=dict(zip(mun.NOMGEO, mun.CVE_MUN))
malls_mun.rename(columns={"ALCALDÍA": "NOMGEO"}, inplace=True)
malls_mun["CVE_MUN"]=malls_mun.NOMGEO #creamos la columna donde se agregará la clave municipal, con las entradas siendo los nombres de las alcaldías
malls_mun.CVE_MUN = malls_mun.CVE_MUN.map(mun_dic)
malls_mun

                 NOMGEO  NUM_MALLS  CVE_MUN
0          Azcapotzalco         45      2.0
1         Benito Juárez         73     14.0
2              Coyoacán         76      3.0
3            Cuajimalpa         26      NaN
4            Cuauhtémoc        172     15.0
5     Gustavo A. Madero         52      5.0
6             Iztacalco         22      6.0
7            Iztapalapa         95      7.0
8   Magdalena Contreras         11      NaN
9        Miguel Hidalgo         43     16.0
10           Milpa Alta          2      9.0
11              Tlahuac         13      NaN
12              Tlalpan         75     12.0
13  Venustiano Carranza         24     17.0
14           Xochimilco         19     13.0
15       Álvaro Obregón         84     10.0

Como puede observarse, la clave municipal está en un formato float, por lo que hay que convertirlo a int. Además hay que cambiar el nombre de cuajimalpa a Cuajimalpla de Morelos

In [327]:
malls_mun.NOMGEO.replace("Cuajimalpa", "Cuajimalpa de Morelos", inplace=True)
malls_mun.NOMGEO.replace("Tlahuac", "Tláhuac",inplace=True)
malls_mun.NOMGEO.replace("Magdalena Contreras", "La Magdalena Contreras",inplace=True)
malls_mun

                    NOMGEO  NUM_MALLS  CVE_MUN
0             Azcapotzalco         45      2.0
1            Benito Juárez         73     14.0
2                 Coyoacán         76      3.0
3    Cuajimalpa de Morelos         26      NaN
4               Cuauhtémoc        172     15.0
5        Gustavo A. Madero         52      5.0
6                Iztacalco         22      6.0
7               Iztapalapa         95      7.0
8   La Magdalena Contreras         11      NaN
9           Miguel Hidalgo         43     16.0
10              Milpa Alta          2      9.0
11                 Tláhuac         13      NaN
12                 Tlalpan         75     12.0
13     Venustiano Carranza         24     17.0
14              Xochimilco         19     13.0
15          Álvaro Obregón         84     10.0

In [328]:
malls_mun["CVE_MUN"]=malls_mun.NOMGEO #creamos la columna donde se agregará la clave municipal, con las entradas siendo los nombres de las alcaldías
malls_mun.CVE_MUN = malls_mun.CVE_MUN.map(mun_dic)
malls_mun

                    NOMGEO  NUM_MALLS  CVE_MUN
0             Azcapotzalco         45        2
1            Benito Juárez         73       14
2                 Coyoacán         76        3
3    Cuajimalpa de Morelos         26        4
4               Cuauhtémoc        172       15
5        Gustavo A. Madero         52        5
6                Iztacalco         22        6
7               Iztapalapa         95        7
8   La Magdalena Contreras         11        8
9           Miguel Hidalgo         43       16
10              Milpa Alta          2        9
11                 Tláhuac         13       11
12                 Tlalpan         75       12
13     Venustiano Carranza         24       17
14              Xochimilco         19       13
15          Álvaro Obregón         84       10

Al arreglar las alcaldías mal escritas, el tipo de dato se convirtió automáticamente a entero y se llenaron completamente las claves municipales. Ya no hay datos vacíos

In [329]:
malls_mun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NOMGEO     16 non-null     object
 1   NUM_MALLS  16 non-null     int64
 2   CVE_MUN    16 non-null     int64
dtypes: int64(2), object(1)
memory usage: 516.0+ bytes

In [330]:
mun.sort_values("NOMGEO",inplace=True)
ub_mun.sort_values("NOMGEO",inplace=True)
malls_mun.sort_values("NOMGEO",inplace=True)
est_mun.sort_values("NOMGEO",inplace=True)

mun.reset_index(drop=True, inplace=True)
malls_mun.reset_index(drop=True, inplace=True)
est_mun.reset_index(drop=True, inplace=True)
ub_mun.reset_index(drop=True, inplace=True)

In [331]:
mb_mun.rename(columns={"ALCALDIAS": "NOMGEO"}, inplace=True)
mb_mun

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,OID,MB_Intermedia,MB_Transbordo,MB_Terminal_Transbordo,MB_Terminal,MB_tot
0,9003,9,3,Coyoacán,1,11,0,0,0,11
1,9007,9,7,Iztapalapa,2,17,0,0,1,18
2,9008,9,8,La Magdalena Contreras,3,0,0,0,0,0
3,9009,9,9,Milpa Alta,4,0,0,0,0,0
4,9010,9,10,Álvaro Obregón,5,4,0,0,1,5
5,9011,9,11,Tláhuac,6,0,0,0,0,0
6,9012,9,12,Tlalpan,7,7,0,0,1,8
7,9013,9,13,Xochimilco,8,3,0,0,1,4
8,9006,9,6,Iztacalco,9,17,2,0,0,19
9,9015,9,15,Cuauhtémoc,10,75,20,1,3,99
10,9017,9,17,Venustiano Carranza,11,17,4,1,2,24
11,9002,9,2,Azcapotzalco,12,7,0,0,1,8
12,9016,9,16,Miguel Hidalgo,13,5,0,0,2,7
13,9005,9,5,Gustavo A. Madero,14,54,12,3,4,73
14,9004,9,4,Cuajimalpa de Morelos,15,0,0,0,0,0
15,9014,9,14,Benito Juárez,16,17,5,1,1,24

In [332]:
mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID
0     9002        9        2            Azcapotzalco   12
1     9014        9       14           Benito Juárez   16
2     9003        9        3                Coyoacán    1
3     9004        9        4   Cuajimalpa de Morelos   15
4     9015        9       15              Cuauhtémoc   10
5     9005        9        5       Gustavo A. Madero   14
6     9006        9        6               Iztacalco    9
7     9007        9        7              Iztapalapa    2
8     9008        9        8  La Magdalena Contreras    3
9     9016        9       16          Miguel Hidalgo   13
10    9009        9        9              Milpa Alta    4
11    9012        9       12                 Tlalpan    7
12    9011        9       11                 Tláhuac    6
13    9017        9       17     Venustiano Carranza   11
14    9013        9       13              Xochimilco    8
15    9010        9       10          Álvaro Obregón    5

In [333]:
ub_mun=ub_mun.astype({"NUM_UH":"int64"})
ub_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  NUM_UH
0     9002        9        2            Azcapotzalco   12    1054
1     9014        9       14           Benito Juárez   16     210
2     9003        9        3                Coyoacán    1    1481
3     9004        9        4   Cuajimalpa de Morelos   15       0
4     9015        9       15              Cuauhtémoc   10     679
5     9005        9        5       Gustavo A. Madero   14     923
6     9006        9        6               Iztacalco    9     996
7     9007        9        7              Iztapalapa    2    4912
8     9008        9        8  La Magdalena Contreras    3     131
9     9016        9       16          Miguel Hidalgo   13     525
10    9009        9        9              Milpa Alta    4       0
11    9012        9       12                 Tlalpan    7     952
12    9011        9       11                 Tláhuac    6     735
13    9017        9       17     Venustiano Carranza   11     893
14    9013        9       13              Xochimilco    8     171
15    9010        9       10          Álvaro Obregón    5     601

In [334]:
est_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  EST_TOT
0     9002        9        2            Azcapotzalco   12       67
1     9014        9       14           Benito Juárez   16      287
2     9003        9        3                Coyoacán    1      109
3     9004        9        4   Cuajimalpa de Morelos   15       36
4     9015        9       15              Cuauhtémoc   10      799
5     9005        9        5       Gustavo A. Madero   14       98
6     9006        9        6               Iztacalco    9       49
7     9007        9        7              Iztapalapa    2      137
8     9008        9        8  La Magdalena Contreras    3       22
9     9016        9       16          Miguel Hidalgo   13      290
10    9009        9        9              Milpa Alta    4        9
11    9012        9       12                 Tlalpan    7       76
12    9011        9       11                 Tláhuac    6       23
13    9017        9       17     Venustiano Carranza   11      122
14    9013        9       13              Xochimilco    8       39
15    9010        9       10          Álvaro Obregón    5      107

In [335]:
malls_mun

                    NOMGEO  NUM_MALLS  CVE_MUN
0             Azcapotzalco         45        2
1            Benito Juárez         73       14
2                 Coyoacán         76        3
3    Cuajimalpa de Morelos         26        4
4               Cuauhtémoc        172       15
5        Gustavo A. Madero         52        5
6                Iztacalco         22        6
7               Iztapalapa         95        7
8   La Magdalena Contreras         11        8
9           Miguel Hidalgo         43       16
10              Milpa Alta          2        9
11                 Tlalpan         75       12
12                 Tláhuac         13       11
13     Venustiano Carranza         24       17
14              Xochimilco         19       13
15          Álvaro Obregón         84       10

# UNIÓN DE DATOS

En esta parte ya se tienen limpios los datos y ajustados a las necesidades, por lo que es momento de unirlos

In [336]:
full_data=mun.merge(mb_mun, on=["CVE_MUN","NOMGEO","CVEGEO","CVE_ENT","OID"])
full_data=full_data.merge(malls_mun, on=["NOMGEO","CVE_MUN"])
full_data=full_data.merge(est_mun,on=["CVE_MUN","NOMGEO","CVEGEO","CVE_ENT","OID"])
full_data=full_data.merge(ub_mun,on=["CVE_MUN","NOMGEO","CVEGEO","CVE_ENT","OID"])
full_data.drop(columns="OID", inplace=True)
full_data.sort_values("CVE_MUN", inplace=True)
full_data

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,MB_Intermedia,MB_Transbordo,MB_Terminal_Transbordo,MB_Terminal,MB_tot,NUM_MALLS,EST_TOT,NUM_UH
0,9002,9,2,Azcapotzalco,7,0,0,1,8,45,67,1054
2,9003,9,3,Coyoacán,11,0,0,0,11,76,109,1481
3,9004,9,4,Cuajimalpa de Morelos,0,0,0,0,0,26,36,0
5,9005,9,5,Gustavo A. Madero,54,12,3,4,73,52,98,923
6,9006,9,6,Iztacalco,17,2,0,0,19,22,49,996
7,9007,9,7,Iztapalapa,17,0,0,1,18,95,137,4912
8,9008,9,8,La Magdalena Contreras,0,0,0,0,0,11,22,131
10,9009,9,9,Milpa Alta,0,0,0,0,0,2,9,0
15,9010,9,10,Álvaro Obregón,4,0,0,1,5,84,107,601
12,9011,9,11,Tláhuac,0,0,0,0,0,13,23,735
11,9012,9,12,Tlalpan,7,0,0,1,8,75,76,952
14,9013,9,13,Xochimilco,3,0,0,1,4,19,39,171
1,9014,9,14,Benito Juárez,17,5,1,1,24,73,287,210
4,9015,9,15,Cuauhtémoc,75,20,1,3,99,172,799,679
9,9016,9,16,Miguel Hidalgo,5,0,0,2,7,43,290,525
13,9017,9,17,Venustiano Carranza,17,4,1,2,24,24,122,893

In [337]:
full_data.reset_index(drop=False,inplace=True)
full_data["MB_Terminales_tot"]=full_data.MB_Terminal + full_data.MB_Terminal_Transbordo
#full_data.drop(columns=["level_0","Index"])
full_data=full_data.reindex(columns=["CVEGEO","CVE_ENT","CVE_MUN","NOMGEO","MB_Intermedia","MB_Transbordo","MB_Terminal_Transbordo","MB_Terminal","MB_Terminales_tot","MB_tot","NUM_MALLS","EST_TOT","NUM_UH"])
full_data

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,MB_Intermedia,MB_Transbordo,MB_Terminal_Transbordo,MB_Terminal,MB_Terminales_tot,MB_tot,NUM_MALLS,EST_TOT,NUM_UH
0,9002,9,2,Azcapotzalco,7,0,0,1,1,8,45,67,1054
1,9003,9,3,Coyoacán,11,0,0,0,0,11,76,109,1481
2,9004,9,4,Cuajimalpa de Morelos,0,0,0,0,0,0,26,36,0
3,9005,9,5,Gustavo A. Madero,54,12,3,4,7,73,52,98,923
4,9006,9,6,Iztacalco,17,2,0,0,0,19,22,49,996
5,9007,9,7,Iztapalapa,17,0,0,1,1,18,95,137,4912
6,9008,9,8,La Magdalena Contreras,0,0,0,0,0,0,11,22,131
7,9009,9,9,Milpa Alta,0,0,0,0,0,0,2,9,0
8,9010,9,10,Álvaro Obregón,4,0,0,1,1,5,84,107,601
9,9011,9,11,Tláhuac,0,0,0,0,0,0,13,23,735
10,9012,9,12,Tlalpan,7,0,0,1,1,8,75,76,952
11,9013,9,13,Xochimilco,3,0,0,1,1,4,19,39,171
12,9014,9,14,Benito Juárez,17,5,1,1,2,24,73,287,210
13,9015,9,15,Cuauhtémoc,75,20,1,3,4,99,172,799,679
14,9016,9,16,Miguel Hidalgo,5,0,0,2,2,7,43,290,525
15,9017,9,17,Venustiano Carranza,17,4,1,2,3,24,24,122,893

In [338]:
ponderaciones=full_data.copy()
ponderaciones

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,MB_Intermedia,MB_Transbordo,MB_Terminal_Transbordo,MB_Terminal,MB_Terminales_tot,MB_tot,NUM_MALLS,EST_TOT,NUM_UH
0,9002,9,2,Azcapotzalco,7,0,0,1,1,8,45,67,1054
1,9003,9,3,Coyoacán,11,0,0,0,0,11,76,109,1481
2,9004,9,4,Cuajimalpa de Morelos,0,0,0,0,0,0,26,36,0
3,9005,9,5,Gustavo A. Madero,54,12,3,4,7,73,52,98,923
4,9006,9,6,Iztacalco,17,2,0,0,0,19,22,49,996
5,9007,9,7,Iztapalapa,17,0,0,1,1,18,95,137,4912
6,9008,9,8,La Magdalena Contreras,0,0,0,0,0,0,11,22,131
7,9009,9,9,Milpa Alta,0,0,0,0,0,0,2,9,0
8,9010,9,10,Álvaro Obregón,4,0,0,1,1,5,84,107,601
9,9011,9,11,Tláhuac,0,0,0,0,0,0,13,23,735
10,9012,9,12,Tlalpan,7,0,0,1,1,8,75,76,952
11,9013,9,13,Xochimilco,3,0,0,1,1,4,19,39,171
12,9014,9,14,Benito Juárez,17,5,1,1,2,24,73,287,210
13,9015,9,15,Cuauhtémoc,75,20,1,3,4,99,172,799,679
14,9016,9,16,Miguel Hidalgo,5,0,0,2,2,7,43,290,525
15,9017,9,17,Venustiano Carranza,17,4,1,2,3,24,24,122,893

In [339]:
l=ponderaciones[ponderaciones.MB_Terminales_tot>=5]["MB_Terminales_tot"].tolist()
ponderaciones.MB_Terminales_tot.replace(l,5, inplace=True)




l=ponderaciones.query("NUM_UH<=300").NUM_UH.tolist()
ponderaciones.NUM_UH.replace(l,6, inplace=True)

l=ponderaciones.query("NUM_UH>=301 & NUM_UH <= 600").NUM_UH.tolist()
ponderaciones.NUM_UH.replace(l,5, inplace=True)

l=ponderaciones.query("NUM_UH>=601 & NUM_UH <= 900").NUM_UH.tolist()
ponderaciones.NUM_UH.replace(l,4, inplace=True)

l=ponderaciones.query("NUM_UH>=901 & NUM_UH <= 1200").NUM_UH.tolist()
ponderaciones.NUM_UH.replace(l,3, inplace=True)

l=ponderaciones.query("NUM_UH>=1201 & NUM_UH <= 1500").NUM_UH.tolist()
ponderaciones.NUM_UH.replace(l,2, inplace=True)

l=ponderaciones.query("NUM_UH>=1501").NUM_UH.tolist()
ponderaciones.NUM_UH.replace(l,1, inplace=True)







l=ponderaciones.query("NUM_MALLS<=45").NUM_MALLS.tolist()
ponderaciones.NUM_MALLS.replace(l,1, inplace=True)

l=ponderaciones.query("NUM_MALLS>=46 & NUM_MALLS<=90").NUM_MALLS.tolist()
ponderaciones.NUM_MALLS.replace(l,2, inplace=True)

l=ponderaciones.query("NUM_MALLS>=91 & NUM_MALLS<=135").NUM_MALLS.tolist()
ponderaciones.NUM_MALLS.replace(l,3, inplace=True)

l=ponderaciones.query("NUM_MALLS>136").NUM_MALLS.tolist()
ponderaciones.NUM_MALLS.replace(l,4, inplace=True)





l=ponderaciones.query("EST_TOT<=75").EST_TOT.tolist()
ponderaciones.EST_TOT.replace(l,1, inplace=True)

l=ponderaciones.query("EST_TOT>=76 & EST_TOT<=150").EST_TOT.tolist()
ponderaciones.EST_TOT.replace(l,2, inplace=True)

l=ponderaciones.query("EST_TOT>=151 & EST_TOT<=225").EST_TOT.tolist()
ponderaciones.EST_TOT.replace(l,3, inplace=True)

l=ponderaciones.query("EST_TOT>=226 & EST_TOT<=300").EST_TOT.tolist()
ponderaciones.EST_TOT.replace(l,4, inplace=True)

l=ponderaciones.query("EST_TOT>=300").EST_TOT.tolist()
ponderaciones.EST_TOT.replace(l,5, inplace=True)

ponderaciones.drop(columns=["MB_Intermedia","MB_Transbordo","MB_Terminal_Transbordo","MB_Terminal","MB_tot"], inplace=True)
ponderaciones

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,MB_Terminales_tot,NUM_MALLS,EST_TOT,NUM_UH
0,9002,9,2,Azcapotzalco,1,1,1,3
1,9003,9,3,Coyoacán,0,2,2,2
2,9004,9,4,Cuajimalpa de Morelos,0,1,1,6
3,9005,9,5,Gustavo A. Madero,5,2,2,3
4,9006,9,6,Iztacalco,0,1,1,3
5,9007,9,7,Iztapalapa,1,3,2,1
6,9008,9,8,La Magdalena Contreras,0,1,1,6
7,9009,9,9,Milpa Alta,0,1,1,6
8,9010,9,10,Álvaro Obregón,1,2,2,4
9,9011,9,11,Tláhuac,0,1,1,4
10,9012,9,12,Tlalpan,1,2,2,3
11,9013,9,13,Xochimilco,1,1,1,6
12,9014,9,14,Benito Juárez,2,2,4,6
13,9015,9,15,Cuauhtémoc,4,4,5,4
14,9016,9,16,Miguel Hidalgo,2,1,4,5
15,9017,9,17,Venustiano Carranza,3,1,2,4

In [349]:
ponderaciones["rate"]=(ponderaciones.MB_Terminales_tot + ponderaciones.NUM_MALLS + ponderaciones.EST_TOT + ponderaciones.NUM_UH)/20
ponderaciones["rate_100"]=100*ponderaciones.rate
ponderaciones

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,MB_Terminales_tot,NUM_MALLS,EST_TOT,NUM_UH,rate,rate_100
0,9002,9,002,Azcapotzalco,1,1,1,3,0.30,30.0
1,9003,9,003,Coyoacán,0,2,2,2,0.30,30.0
2,9004,9,004,Cuajimalpa de Morelos,0,1,1,6,0.40,40.0
3,9005,9,005,Gustavo A. Madero,5,2,2,3,0.60,60.0
4,9006,9,006,Iztacalco,0,1,1,3,0.25,25.0
5,9007,9,007,Iztapalapa,1,3,2,1,0.35,35.0
6,9008,9,008,La Magdalena Contreras,0,1,1,6,0.40,40.0
7,9009,9,009,Milpa Alta,0,1,1,6,0.40,40.0
8,9010,9,010,Álvaro Obregón,1,2,2,4,0.45,45.0
9,9011,9,011,Tláhuac,0,1,1,4,0.30,30.0
10,9012,9,012,Tlalpan,1,2,2,3,0.40,40.0
11,9013,9,013,Xochimilco,1,1,1,6,0.45,45.0
12,9014,9,014,Benito Juárez,2,2,4,6,0.70,70.0
13,9015,9,015,Cuauhtémoc,4,4,5,4,0.85,85.0
14,9016,9,016,Miguel Hidalgo,2,1,4,5,0.60,60.0
15,9017,9,017,Venustiano Carranza,3,1,2,4,0.50,50.0

In [350]:
claves=["002","003","004","005","006","007","008","009","010","011","012","013","014","015","016","017"]
ponderaciones.CVE_MUN=ponderaciones.CVE_MUN.replace(list(range(2,18,1)),claves)
ponderaciones

,CVEGEO,CVE_ENT,CVE_MUN,NOMGEO,MB_Terminales_tot,NUM_MALLS,EST_TOT,NUM_UH,rate,rate_100
0,9002,9,002,Azcapotzalco,1,1,1,3,0.30,30.0
1,9003,9,003,Coyoacán,0,2,2,2,0.30,30.0
2,9004,9,004,Cuajimalpa de Morelos,0,1,1,6,0.40,40.0
3,9005,9,005,Gustavo A. Madero,5,2,2,3,0.60,60.0
4,9006,9,006,Iztacalco,0,1,1,3,0.25,25.0
5,9007,9,007,Iztapalapa,1,3,2,1,0.35,35.0
6,9008,9,008,La Magdalena Contreras,0,1,1,6,0.40,40.0
7,9009,9,009,Milpa Alta,0,1,1,6,0.40,40.0
8,9010,9,010,Álvaro Obregón,1,2,2,4,0.45,45.0
9,9011,9,011,Tláhuac,0,1,1,4,0.30,30.0
10,9012,9,012,Tlalpan,1,2,2,3,0.40,40.0
11,9013,9,013,Xochimilco,1,1,1,6,0.45,45.0
12,9014,9,014,Benito Juárez,2,2,4,6,0.70,70.0
13,9015,9,015,Cuauhtémoc,4,4,5,4,0.85,85.0
14,9016,9,016,Miguel Hidalgo,2,1,4,5,0.60,60.0
15,9017,9,017,Venustiano Carranza,3,1,2,4,0.50,50.0

In [347]:
ponderaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CVEGEO             16 non-null     int64
 1   CVE_ENT            16 non-null     int64
 2   CVE_MUN            16 non-null     object
 3   NOMGEO             16 non-null     object
 4   MB_Terminales_tot  16 non-null     int64
 5   NUM_MALLS          16 non-null     int64
 6   EST_TOT            16 non-null     int64
 7   NUM_UH             16 non-null     int64
 8   rate               16 non-null     float64
dtypes: float64(1), int64(6), object(2)
memory usage: 1.3+ KB

In [351]:
ponderaciones.to_csv("Ponderaciones_municipio.csv", index=False)