In [27]:
# Recopilación de toda la información obtenida

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# LIMPIEZA DE DATOS

En este punto, primero hay que revisar si ya se tienen los datos necesarios, para luego unirlos

In [29]:
#ub_man=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\HABITATIONAL UNITS\UH_MAN.csv")
ub_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\HABITATIONAL UNITS\UH_MUN.csv")
malls_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\MALLS\Plazas_por_alcandia.csv")
est_mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\PARKINGS\municipios totales actualizado.csv")
mun=pd.read_csv(r"C:\Users\Emmanuel\OneDrive - Instituto Politecnico Nacional\GITHUB\charger-stations-data-cleaned\PARKINGS\municipios totales.csv")

In [30]:
mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID
0     9003        9        3                Coyoacán    1
1     9007        9        7              Iztapalapa    2
2     9008        9        8  La Magdalena Contreras    3
3     9009        9        9              Milpa Alta    4
4     9010        9       10          Álvaro Obregón    5
5     9011        9       11                 Tláhuac    6
6     9012        9       12                 Tlalpan    7
7     9013        9       13              Xochimilco    8
8     9006        9        6               Iztacalco    9
9     9015        9       15              Cuauhtémoc   10
10    9017        9       17     Venustiano Carranza   11
11    9002        9        2            Azcapotzalco   12
12    9016        9       16          Miguel Hidalgo   13
13    9005        9        5       Gustavo A. Madero   14
14    9004        9        4   Cuajimalpa de Morelos   15
15    9014        9       14           Benito Juárez   16

In [31]:
ub_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  NUM_UH
0     9002        9        2            Azcapotzalco   12  1054.0
1     9003        9        3                Coyoacán    1  1481.0
2     9004        9        4   Cuajimalpa de Morelos   15     0.0
3     9005        9        5       Gustavo A. Madero   14   923.0
4     9006        9        6               Iztacalco    9   996.0
5     9007        9        7              Iztapalapa    2  4912.0
6     9008        9        8  La Magdalena Contreras    3   131.0
7     9009        9        9              Milpa Alta    4     0.0
8     9010        9       10          Álvaro Obregón    5   601.0
9     9011        9       11                 Tláhuac    6   735.0
10    9012        9       12                 Tlalpan    7   952.0
11    9013        9       13              Xochimilco    8   171.0
12    9014        9       14           Benito Juárez   16   210.0
13    9015        9       15              Cuauhtémoc   10   679.0
14    9016        9       16          Miguel Hidalgo   13   525.0
15    9017        9       17     Venustiano Carranza   11   893.0

In [32]:
malls_mun.head()

        ALCALDÍA  NUM_MALLS
0   Azcapotzalco         45
1  Benito Juárez         73
2       Coyoacán         76
3     Cuajimalpa         26
4     Cuauhtémoc        172

In [33]:
est_mun.head()

   CVEGEO  CVE_ENT  CVE_MUN                 NOMGEO  OID  EST_TOT
0    9002        9        2           Azcapotzalco   12       67
1    9003        9        3               Coyoacán    1      109
2    9004        9        4  Cuajimalpa de Morelos   15       36
3    9005        9        5      Gustavo A. Madero   14       98
4    9006        9        6              Iztacalco    9       49

Observando las bases de datos, a la base de malls_mun hay que agregarle la clave municipal, ya que será por esta clave que se unirán todos. Además de reescribir el nombre de la columna "ALCALDÍA" a "NOMGEO"

In [37]:
mun_dic=dict(zip(mun.NOMGEO, mun.CVE_MUN))
malls_mun.rename(columns={"ALCALDÍA": "NOMGEO"}, inplace=True)
malls_mun["CVE_MUN"]=malls_mun.NOMGEO #creamos la columna donde se agregará la clave municipal, con las entradas siendo los nombres de las alcaldías
malls_mun.CVE_MUN = malls_mun.CVE_MUN.map(mun_dic)
malls_mun

                 NOMGEO  NUM_MALLS  CVE_MUN
0          Azcapotzalco         45      2.0
1         Benito Juárez         73     14.0
2              Coyoacán         76      3.0
3            Cuajimalpa         26      NaN
4            Cuauhtémoc        172     15.0
5     Gustavo A. Madero         52      5.0
6             Iztacalco         22      6.0
7            Iztapalapa         95      7.0
8   Magdalena Contreras         11      NaN
9        Miguel Hidalgo         43     16.0
10           Milpa Alta          2      9.0
11              Tlahuac         13      NaN
12              Tlalpan         75     12.0
13  Venustiano Carranza         24     17.0
14           Xochimilco         19     13.0
15       Álvaro Obregón         84     10.0

Como puede observarse, la clave municipal está en un formato float, por lo que hay que convertirlo a int. Además hay que cambiar el nombre de cuajimalpa a Cuajimalpla de Morelos

In [38]:
malls_mun.NOMGEO.replace("Cuajimalpa", "Cuajimalpa de Morelos", inplace=True)
malls_mun.NOMGEO.replace("Tlahuac", "Tláhuac",inplace=True)
malls_mun.NOMGEO.replace("Magdalena Contreras", "La Magdalena Contreras",inplace=True)
malls_mun

                    NOMGEO  NUM_MALLS  CVE_MUN
0             Azcapotzalco         45      2.0
1            Benito Juárez         73     14.0
2                 Coyoacán         76      3.0
3    Cuajimalpa de Morelos         26      NaN
4               Cuauhtémoc        172     15.0
5        Gustavo A. Madero         52      5.0
6                Iztacalco         22      6.0
7               Iztapalapa         95      7.0
8   La Magdalena Contreras         11      NaN
9           Miguel Hidalgo         43     16.0
10              Milpa Alta          2      9.0
11                 Tláhuac         13      NaN
12                 Tlalpan         75     12.0
13     Venustiano Carranza         24     17.0
14              Xochimilco         19     13.0
15          Álvaro Obregón         84     10.0

In [40]:
malls_mun["CVE_MUN"]=malls_mun.NOMGEO #creamos la columna donde se agregará la clave municipal, con las entradas siendo los nombres de las alcaldías
malls_mun.CVE_MUN = malls_mun.CVE_MUN.map(mun_dic)
malls_mun

                    NOMGEO  NUM_MALLS  CVE_MUN
0             Azcapotzalco         45        2
1            Benito Juárez         73       14
2                 Coyoacán         76        3
3    Cuajimalpa de Morelos         26        4
4               Cuauhtémoc        172       15
5        Gustavo A. Madero         52        5
6                Iztacalco         22        6
7               Iztapalapa         95        7
8   La Magdalena Contreras         11        8
9           Miguel Hidalgo         43       16
10              Milpa Alta          2        9
11                 Tláhuac         13       11
12                 Tlalpan         75       12
13     Venustiano Carranza         24       17
14              Xochimilco         19       13
15          Álvaro Obregón         84       10

Al arreglar las alcaldías mal escritas, el tipo de dato se convirtió automáticamente a entero y se llenaron completamente las claves municipales. Ya no hay datos vacíos

In [41]:
malls_mun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NOMGEO     16 non-null     object
 1   NUM_MALLS  16 non-null     int64
 2   CVE_MUN    16 non-null     int64
dtypes: int64(2), object(1)
memory usage: 516.0+ bytes

In [46]:
mun.sort_values("NOMGEO",inplace=True)
ub_mun.sort_values("NOMGEO",inplace=True)
malls_mun.sort_values("NOMGEO",inplace=True)
est_mun.sort_values("NOMGEO",inplace=True)

mun.reset_index(drop=True, inplace=True)
malls_mun.reset_index(drop=True, inplace=True)
est_mun.reset_index(drop=True, inplace=True)
ub_mun.reset_index(drop=True, inplace=True)

In [47]:
mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID
0     9002        9        2            Azcapotzalco   12
1     9014        9       14           Benito Juárez   16
2     9003        9        3                Coyoacán    1
3     9004        9        4   Cuajimalpa de Morelos   15
4     9015        9       15              Cuauhtémoc   10
5     9005        9        5       Gustavo A. Madero   14
6     9006        9        6               Iztacalco    9
7     9007        9        7              Iztapalapa    2
8     9008        9        8  La Magdalena Contreras    3
9     9016        9       16          Miguel Hidalgo   13
10    9009        9        9              Milpa Alta    4
11    9012        9       12                 Tlalpan    7
12    9011        9       11                 Tláhuac    6
13    9017        9       17     Venustiano Carranza   11
14    9013        9       13              Xochimilco    8
15    9010        9       10          Álvaro Obregón    5

In [48]:
ub_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  NUM_UH
0     9002        9        2            Azcapotzalco   12  1054.0
1     9014        9       14           Benito Juárez   16   210.0
2     9003        9        3                Coyoacán    1  1481.0
3     9004        9        4   Cuajimalpa de Morelos   15     0.0
4     9015        9       15              Cuauhtémoc   10   679.0
5     9005        9        5       Gustavo A. Madero   14   923.0
6     9006        9        6               Iztacalco    9   996.0
7     9007        9        7              Iztapalapa    2  4912.0
8     9008        9        8  La Magdalena Contreras    3   131.0
9     9016        9       16          Miguel Hidalgo   13   525.0
10    9009        9        9              Milpa Alta    4     0.0
11    9012        9       12                 Tlalpan    7   952.0
12    9011        9       11                 Tláhuac    6   735.0
13    9017        9       17     Venustiano Carranza   11   893.0
14    9013        9       13              Xochimilco    8   171.0
15    9010        9       10          Álvaro Obregón    5   601.0

In [49]:
est_mun

    CVEGEO  CVE_ENT  CVE_MUN                  NOMGEO  OID  EST_TOT
0     9002        9        2            Azcapotzalco   12       67
1     9014        9       14           Benito Juárez   16      287
2     9003        9        3                Coyoacán    1      109
3     9004        9        4   Cuajimalpa de Morelos   15       36
4     9015        9       15              Cuauhtémoc   10      799
5     9005        9        5       Gustavo A. Madero   14       98
6     9006        9        6               Iztacalco    9       49
7     9007        9        7              Iztapalapa    2      137
8     9008        9        8  La Magdalena Contreras    3       22
9     9016        9       16          Miguel Hidalgo   13      290
10    9009        9        9              Milpa Alta    4        9
11    9012        9       12                 Tlalpan    7       76
12    9011        9       11                 Tláhuac    6       23
13    9017        9       17     Venustiano Carranza   11      122
14    9013        9       13              Xochimilco    8       39
15    9010        9       10          Álvaro Obregón    5      107

In [50]:
malls_mun

                    NOMGEO  NUM_MALLS  CVE_MUN
0             Azcapotzalco         45        2
1            Benito Juárez         73       14
2                 Coyoacán         76        3
3    Cuajimalpa de Morelos         26        4
4               Cuauhtémoc        172       15
5        Gustavo A. Madero         52        5
6                Iztacalco         22        6
7               Iztapalapa         95        7
8   La Magdalena Contreras         11        8
9           Miguel Hidalgo         43       16
10              Milpa Alta          2        9
11                 Tlalpan         75       12
12                 Tláhuac         13       11
13     Venustiano Carranza         24       17
14              Xochimilco         19       13
15          Álvaro Obregón         84       10

# UNIÓN DE DATOS

En esta parte ya se tienen limpios los datos y ajustados a las necesidades, por lo que es momento de unirlos